@model List<Advert>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-success">
                    No ads yet
                </div>
            </div>
        </div>
    </div>
}

else
{
    <table class="table table-bordered table table-striped">
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th>Room Number</th>
            <th>Bath Number</th>
            <th>Areas</th>
            <th>Floor</th>
            <th>Address</th>
            <th>Ad Pictures</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.NumberOfRooms</td>
                    <td>@item.BathroomNumbers</td>
                    <td>@item.Area</td>
                    <td>@item.Floor</td>
                    <td>@item.Address</td>
                    <td><a class="btn btn-success" asp-action="AdvertImages" asp-route-id="@item.Id">İlan Resimleri</a></td>
@*                     <td><a class="btn btn-danger" asp-route-id="@item.Id" id="delete">Sil</a></td> *@
                    <td><a class="btn btn-danger" data-id="@item.Id" id="delete">Sil</a></td>
                    <td><a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<a class="btn btn-primary" asp-action="Create">
    Ekle
</a>


<script type="text/javascript">
    $("#table").on("click", "#delete", function () {

        var id = $(this).data("id");

        swal({
            title: "Silmek istiyor musunuz?",
            text: "İlan silinecek gerçekten silmek istediğinize emin misiniz!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: '/Admin/Advert/FullDelete/' + id,

                        success: function () {
                            toastr.error("İlan Silme İşlemi başarıyla gerçekleşti")

                        }
                    });

                    $(this).parent("td").parent("tr").remove();
                }
            });

    });

</script>


