@model List<Advert>

@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    @{
        int i = 0;
    }




    <div class="carousel-inner" role="listbox">
        @foreach (var rsm in ViewBag.imagelist)
        {
            i++;

            var c = 1;
            var active = i == 1 ? "active" : "";

            <div class="carousel-item @active">

              <img class="d-block w-100" src="~/Admin/img/@rsm.ImageName" alt="First slide">

            </div>
        }



    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


@await Html.PartialAsync("~/Views/Home/PartialFiltre.cshtml")
<section class="featured-properties-area section-padding-100-50">
    <div class="container">

        <div class="row" style="margin-top:30px;">
            @foreach (var item in Model)
            {

                var c = 1;

                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50 wow fadeInUp" data-wow-delay="100ms">



                        <div class="property-thumb">

                            @foreach (var rsm in ViewBag.imagelist)
                            {
                                if (rsm.AdvertId == item.Id)
                                {

                                    if (@c == 1)
                                    {



                                        <img src="~/img/@rsm.ImageName" alt="">
                                        c++;
                                    }
                                }
                            }


                            <div class="tag">
                                <span>@item.Type.Situation.SituationName</span>
                            </div>
                            <div class="list-price">
                                <p>@item.Price ₺</p>
                            </div>
                        </div>


                        <div class="property-content">
                            @*<h5></h5>*@
                            <p class="location"><img src="~/EState/img/icons/location.png" alt="">@item.Neighborhood.District.City.CityName - @item.Neighborhood.District.DistrictName</p>
                            <p>@item.Description.Substring(0, 57) </p> <a class="btn btn-warning" asp-controller="Advert" asp-action="Details" asp-route-id="@item.Id" style="margin-bottom:15px;">Detaya Git</a>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">
                                    <img src="~/Estate/img/icons/new.png" alt="">
                                </div>
                                <div class="bathroom">
                                    <img src="~/Estate/img/icons/bathtub.png" alt="">
                                    <span>@item.BathroomNumbers</span>
                                </div>
                                <div class="garage">
                                    <img src="~/Estate/img/icons/garage.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="space">
                                    <img src="~/Estate/img/icons/space.png" alt="">
                                    <span>@item.Area m <sub>2</sub></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>

    </div>
</section>

